.container {
    background-color: black;
    display: grid;
    grid-column: 40% 1fr;
    grid-template-areas: "main-nav main-nav"
        "text-main photo";
    padding-left: 145px;

}

.main-nav {
    grid-area: main-nav;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.text-main {
    grid-area: text-main;

}

.photo {
    grid-area: photo;
}

.menu {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 50px;

}

.menu:hover {
    text-decoration: underline;
}

.homem {
    color: #FF4B32;
}

.title,
.text {
    color: #ffffff;
}

.title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 58px;
    padding-top: 125px;
}

.text {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    padding-top: 26px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px, 35px, 16px, 35px;
    background-color: #FF4B32;
    color: white;
    width: 147px;
    height: 61px;
    border-radius: 15px;
    font-family: 'Open Sans', sans-serif;
    margin: 40px 0;
}
.button2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px, 30px, 15px, 30px;
    background-color: #FF4B32;
    color: white;
    width: 167px;
    height: 51px;
    border-radius: 15px;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
}

.main-conteiner {
    padding-left: 145px;
}

.main-title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 43px;
    margin-top: 70px;
}

.content {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin: 20px 0;
}

.main-photo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.p1, .p2 {
    font-family: 'Josefin Sans', sans-serif;
}
.p1 {
    font-size: 24px;
}
.p2 {
    font-size: 32px;
}
.p3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
.pay {
    display: flex;
}
